

// A Keyboard Keymap has 2 responsibilities in this layout system:
//
// 1. Include the correct key positions definition from the `keypos_def`
//    directory;
// 2. Define a macro function called `LAYER_ADAPTER` that receives 38 arguments
//    (one per key in the layout), and replaces them by the keyboard's physical layout
//    shape;
//
// After this is done, you need to import the standard layout file, so it can
// create the keymap using the macro function you previously created.

#include "keypos_def/totem.dtsi"

// Define the layer adapter function for TOTEM
#define LAYER_ADAPTER(                                                    \
    k00, k01, k02, k03, k04, k05,           k06, k07, k08, k09,           \
    k10, k11, k12, k13, k14, k15,           k16, k17, k18, k19,           \
    k20, k21, k22, k23, k24, k25,           k26, k27, k28, k29,           \
         k30, k31, k32, k33, k34,           k35, k36, k37                 \
)                                                                         \
         k10 k11 k12 k13 k14              k16 k17 k18 k19                 \
         k20 k21 k22 k23 k24              k26 k27 k28 k29                 \
              k30 k31 k32 k33 k34     k35 k36 k37

#define COMBO_KEY_CAPS_WORD  <LM1 RM1>

#define USE_HOLD_TAP_LAYER_BUTTONS
#define USE_HOLD_TAP_LAYER_FUNCTIONS
#define USE_HOLD_TAP_LAYER_MOUSE

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1000
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 35

#include "layout/standard_layout.dtsi"
